<main>
    <h2 id="titlePrincipal" mat-dialog-title>App Consultorio</h2>
    <mat-dialog-content class="dialog-content">
        <p><strong>🔧 Tecnologias Utilizadas:</strong></p>
        <ul>
            <li><p>Back-end: C# .NET Framework</p></li>
            <li><p>Banco de Dados: SQL Server</p></li>
            <li><p>Front-end: Angular</p></li>
            <li><p>O objetivo principal deste consultório é fornecer uma plataforma intuitiva e eficiente para ajudar o consultorio a organizar seus medicamentos e consultas entre médicos e pacientes</p></li>
        </ul>
        <p><strong>🛠 Principais Funcionalidades:</strong></p>
        <ul>
            <li><p>Gerenciamento de Medicamento: Adicionar, editar e excluir</p></li>
            <li><p>Gerenciamento de Médicos: Adicionar, editar e excluir médicos</p></li>
            <li><p>Gerenciamento de Pacientes: Adicionar, editar e excluir pacientes</p></li>
            <li><p>Interface interativa e fácil de usar</p></li>
            <li><p>Integração com banco de dados SQL Server para persistência de dados</p></li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions class="btns-dialog" align="end">
        <a class="btnGit" href="https://github.com/CaioFeiria/front-end-Consultorio" mat-raised-button>
            <div class="containerGit">
                <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
                <p class="pGit">Front</p>
            </div>
        </a>
        <a class="btnGit" href="https://github.com/CaioFeiria/back-end-Consultorio" mat-raised-button>
            <div class="containerGit">
                <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
                <p class="pGit">Back</p>
            </div>
        </a> 
        <button mat-raised-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</main>