<h2 mat-dialog-title>Consultorio</h2>
<mat-dialog-content class="dialog-content">
    <img ngSrc="public/consultorio-medicamento.png" width="510" height="232">
    <p>
        <strong>🔧 Tecnologias Utilizadas:</strong>
        Back-end: C# .NET Framework
        Banco de Dados: SQL Server
        Front-end: Angular
        O objetivo principal deste gerenciador de tarefas é fornecer uma plataforma intuitiva e eficiente para ajudar os usuários a organizar e acompanhar suas atividades diárias. A aplicação é projetada para oferecer uma experiência de usuário fluida e produtiva.
    </p>
    <p>
        <strong>🛠 Principais Funcionalidades:</strong>
        Gerenciamento de Tarefas: Adicionar, editar e excluir tarefas; Categorizar e priorizar tarefas.
        Gerenciamento de Usuários: Adicionar, editar e excluir usuários responsáveis pelas tarefas.
        Interface interativa e fácil de usar.
        Integração com banco de dados SQL Server para persistência de dados.
    </p>
    <p>
        <strong>💡 Como Funciona:</strong> Utilizando o poder do C# e .NetFramework no back-end, o SQL Server para armazenamento seguro e eficiente dos dados, e o Angular para uma experiência de usuário dinâmica e responsiva, este gerenciador de tarefas é uma solução completa para quem busca otimizar sua produtividade.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <a class="btnGit" href="https://github.com/CaioFeiria/front-end-Consultorio" mat-raised-button>
        <div class="containerGit">
            <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
            <p class="pGit">Front</p>
        </div>
    </a>
    <a class="btnGit" href="https://github.com/CaioFeiria/back-end-Consultorio" mat-raised-button>
        <div class="containerGit">
            <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
            <p class="pGit">Back</p>
        </div>
    </a> 
    <button mat-raised-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>