.main-content{
    height: 100vh;
    position: relative;
    transition: overflow 0.3s ease;
}

.app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 62% 0 40vh 0;
    flex-direction: column;

    h2{
        font-family: Poppins, sans-serif;
        font-size: xx-large;
        font-style: italic;
        color: azure;
    }
}
.img-h2{
    flex-direction: column;

    img{
        filter: drop-shadow(2.5px 1px 1.3px white);
    }
}

.links-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 2px;
    height: 7px;

    li{
        padding: 8px;
    }
}

.cards{
    padding: 10% 10% 0 9%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15%;

    #titulo{
        padding: 13px;
        font-family: Poppins, sans-serif;
        font-weight: 600;
    }

    #subtitulo{
        padding-left: 26%;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    P{
        padding: 0 12px 12px 12px;
        font-size: 19px;
    }
}

.list-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 2px;

    li{
        text-align: center;
        padding: 20px;
    }
    p{
        font-size: 20px;
        font-weight: bold;  
    }
}

.cards-projeto{
    padding: 72vh 10% 0 9%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 85px;
    align-items: center;
    justify-content: center;

    #titulo{
        padding: 13px;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 25px;
    }

    #subtitulo{
        text-align: center;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-style: italic;
        font-size: 17px;
    }

    P{
        padding: 0 12px 12px 12px;
        font-size: 19px;
    }
}

.projeto-item{
    display: flex;
    justify-content: center;
    align-items: center;

    .content-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img{
        width: 80%;
        height: 60%;
        padding: 16px;
    }
}

@media (min-width: 1024px){
    .app-header{
        padding: 8% 0 12% 0;

        h2{
            font-size: 48px;
            text-align: center;
        }

        .img-h2{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 72%;
                height: 60%;
            }
        }
    }

    .cards{
        gap: 40%;

        #titulo{
            font-size: 30px;
        }

        p{
            font-size: 22px;
        }
    }

    .links-list{
        padding: 7px;
        height: 10px;
    
        li{
            padding: 10px;

            a>img{
                width: 60px;
                height: 60px;
            }
        }
    }

    .hardskills{
        .list-icons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 2px;
        
            li{
                text-align: center;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            img{
                width: 60%;
                height: 60%;
            }

            #icon-angular{
                width: 75%;
                height: 75%;
            }
        }
    }

    .cards-projeto{
        padding: 20% 10% 0 9%;
        grid-template-columns: repeat(2, 1fr);

        #titulo{
            font-size: 30px;
        }

        #subtitulo{
            text-align: center;
            font-size: 22px;
        }

        img{
            width: 90%;
        }
    }
}

.show-content{
    top: 0;
}

#scroll-button{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    z-index: 1000;
}