<main>
    <h2 id="titlePrincipal" mat-dialog-title>Login Page</h2>
    <mat-dialog-content class="dialog-content">
        <p><strong>🔧 Tecnologias Utilizadas:</strong></p>
        <ul>
            <li><p>Back-end: Java SpringBoot</p></li>
            <li><p>Banco de Dados: H2</p></li>
            <li><p>Front-end: Angular</p></li>
            <li><p>O objetivo principal é consrtuir um login intuitivo e eficiente</p></li>
        </ul>
        <p><strong>🛠 Principais Funcionalidades:</strong></p>
        <ul>
            <li><p>Validar usários para acessar página</p></li>
            <li><p>Validar logins existentes</p></li>
            <li><p>Registrar novos logins</p></li>
            <li><p>Interface interativa e fácil de usar</p></li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions class="btns-dialog" align="end">
        <a class="btnGit" href="https://github.com/CaioFeiria/login-page-kipper" mat-raised-button>
            <div class="containerGit">
                <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
                <p class="pGit">Front</p>
            </div>
        </a>
        <a class="btnGit" href="https://github.com/CaioFeiria/login-pageBack-kipper" mat-raised-button>
            <div class="containerGit">
                <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
                <p class="pGit">Back</p>
            </div>
        </a> 
        <button mat-raised-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</main>