<main>
    <h2 id="titlePrincipal" mat-dialog-title>Gerenciador de Tarefas Web</h2>
    <mat-dialog-content class="dialog-content">
        <p><strong>🔧 Tecnologias Utilizadas:</strong></p>
        <ul>
            <li><p>Back-end: C# .NET Framework</p></li>
            <li><p>Banco de Dados: SQL Server</p></li>
            <li><p>Front-end: Angular</p></li>
            <li><p>O objetivo principal deste gerenciador de tarefas é fornecer uma plataforma intuitiva e eficiente para ajudar os usuários a organizar e acompanhar suas atividades diárias. A aplicação é projetada para oferecer uma experiência de usuário fluida e produtiva</p></li>
        </ul>
        <p><strong>🛠 Principais Funcionalidades:</strong></p>
        <ul>
            <li><p>Gerenciamento de Tarefas: Adicionar, editar e excluir tarefas; Categorizar e priorizar tarefas</p></li>
            <li><p>Gerenciamento de Usuários: Adicionar, editar e excluir usuários responsáveis pelas tarefas</p></li>
            <li><p>Interface interativa e fácil de usar</p></li>
            <li><p>Integração com banco de dados SQL Server para persistência de dados</p></li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions class="btns-dialog" align="end">
        <a class="btnGit" href="https://github.com/CaioFeiria/front-end-TaskManagement" mat-raised-button>
            <div class="containerGit">
                <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
                <p class="pGit">Front</p>
            </div>
        </a>
        <a class="btnGit" href="https://github.com/CaioFeiria/back-end-TaskManagement" mat-raised-button>
            <div class="containerGit">
                <img class="imgGit" ngSrc="public/github.png" width="20" height="20">
                <p class="pGit">Back</p>
            </div>
        </a> 
        <button mat-raised-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</main>