#titlePrincipal{
    font-family:  Exo, sans-serif;
    font-weight: 600;
}

.dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:  Poppins, sans-serif;
    font-weight: 500;

    img{
        width: 100%;
        height: 100%;
        padding-bottom: 12px;
    }
}

.btns-dialog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    .containerGit{
        font-size: 13px;
    }

    button{
        color: black;
        font-size: 13px;
    }
}

.btnGit{
    display: flex;
    flex-direction: row;
    background-color: black;

    .containerGit {
        display: flex;
        align-items: center;
    }

    .pGit {
        margin: 0;
        color: white;
    }
    
    .imgGit {
        margin-right: 8px;
    }
}
